.list {
  &__header {
    h1 {
      text-align: center;

      span {
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 25px;
        padding: 0.5rem;
      }
    }
  }

  &__searchbar {
    margin-right: 4rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
    display: flex;
    background-color: rgba(243, 176, 176, 0.7);
    border-radius: 25px;
    padding-top: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: fit-content;

    label {
      font-size: 1.5rem;
      margin-left: 3rem;
      margin-right: 0.5rem;
    }

    input {
      margin-top: 6px;
      min-width: 18em;
      height: 37px;
      padding: 0px 10px;
      font-size: 16px;
      background-color: #f3f3f3;
      border: 0;
      border-radius: 4px;
      margin-bottom: 31px;
      transition: all 250ms ease-in-out;
    }
    select {
      margin-top: 6px;
      min-width: 5em;
      height: 37px;
      padding: 8px 10px;
      font-size: 16px;
      background-color: #f3f3f3;
      border: 0;
      border-radius: 4px;
      margin-bottom: 31px;
      transition: all 250ms ease-in-out;
    }
  }
}

.table {
  font-size: 1.5rem;
}
